:root {
    --primary-color: rgba(76, 175, 80, 0.75);
    --secondary-color: #b2f7a5;
    --success-color: #28a745;
    --error-color: #000000;
    --gray-color: #6c757d;
    --light-gray: #b2f7a5;
    --font-family: "Poppins", sans-serif;
    --box-shadow-default: 0 4px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0 6px 15px rgba(0, 0, 0, 0.2);
    --border-radius: 12px;
    --transition-speed: 0.3s;
}

.landing-container {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-family: "Poppins Light", sans-serif;
    /*font-weight: 300;*/
    /*font-size: clamp(24px, 5vw, 30px);*/
    /*margin: 0;*/
    /*line-height: 1.5;*/
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: clamp(20px, 4vw, 35px);
    margin: 0;
    line-height: 1.5;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: clamp(18px, 3.5vw, 30px);
    margin: 0;
    line-height: 1.5;
}

text, p, span, div, ::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: clamp(12px, 2vw, 16px);
    line-height: 1.6;
}