.registerModal {
    position: fixed; /* Makes the div independent of other components */
    flex-grow: inherit;
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Align children in a column */
    gap: 30px; /* Add spacing between items */
    justify-content: start; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 300px;
    min-height: 400px;
    background-color: #f8f9fa;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by 50% of its width and height */
    border-radius: 10px;
    animation: fadeIn 0.3s ease-out;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.registerFeedback {
    color: #b2f7a5;
    font-size: 14px;
    font-weight: bold;
}

.registerFeedbackFail {
    color: #ef0303;

    font-size: 14px;
    font-weight: bold;
}
